@import "styles/media.scss";

.headerMenu {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;

  @include tablet {
    justify-content: flex-start;
    overflow: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    li {
      width: 38%;
      max-width: 125px;

      button {
        max-width: 100%;
        padding: 5px;
        font-size: 12px;
      }

      &:first-child {
        margin-left: 10px;
      }

      &:last-child {
        margin-right: 10px;
      }
    }
  }
  @include mobile {
    li {
      button {
        svg {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
