@import "styles/media.scss";
@import "styles/colors.scss";

.closeButton {
  text-align: center;
}

.swipeButton {
  display: flex;
  width: 25%;
  min-height: 3px;
  margin: 10px auto;
  background: $whiteGray;
  border-radius: 8px;
}

.drawerMenu {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: auto;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 0 5%;
  }
  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 0 5%;

    a {
      font-size: 12px;
    }
  }
}

.contactsMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
}
