$Jet: #363434;
$RaisinBlack: #222;
$Cultured: #f4f4f4;

$primary: $RaisinBlack;
$secondary: $Jet;
$accent: $Cultured;

$black: #000;
$white: #fff;

$whiteGray: #c0c0c0;
$lightGray: #5c5c5c;
$darkGray: #292929;
$primaryRed: #f30100;
