@import "styles/colors.scss";

.make {
  li {
    margin-bottom: 10px;
    list-style: none;

    a {
      color: $primaryRed;
    }

    &:nth-child(even) {
      background-color: $lightGray;
    }

    &:nth-child(odd) {
      background-color: $white;
    }
  }

  .models {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 25%;
      list-style: none;
      background-color: transparent;

      a {
        color: $darkGray;
      }
    }
  }
}
