@import "styles/colors.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: auto;
  padding: 20px 10px;
  color: $whiteGray;
  background: $black;

  .content {
    display: flex;
    gap: 20%;
    justify-content: center;
    width: 90%;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .version {
    font-size: 12px;
  }
}
